.img-circl {
	border-radius: 50%
}

.fnt {
	font-family: 'Open Sans', sans-serif;
}

.txt-size {
	font-size: 120%
}

div {
	padding: 15px;
}

.link-brder {
	border: 1px solid blue;
	border-radius: 5px;
	padding: 6px;
	background-color: #0059b3;
	color: white;
}

body {
	background-color: #eee
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: #004080;
}